################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


\bin
\obj
\.vs
\App_Data
*.pubxml
*.user
/.idea
appsettings.Production.json
/quickstarts/KernelSyntaxExamples/appsettings.Development.json
/quickstarts/CreateChatGptPlugin/appsettings.Development.json
/quickstarts/WebPlugins/appsettings.Development.json
/quickstarts/DocumentationExamples/appsettings.Development.json
/Solution Items/appsettings.Development.json
/quickstarts/KernelSyntaxExamples/OwnerExamples/result.txt
/HelloAgent/appsettings.Development.json
/aiplugin/AIPluginFunction/appsettings.Development.json
/quickstarts/HelloAgent/appsettings.Development.json
